@import '../utils/mixins';

.homeDriver {
    #{--change-view-display}: block;
    #{--change-view-margin-top}: 1rem;
    #{--change-view-width}: 80%;
    #{--container-background-color}: #e0e0e0;
    #{--container-height}: 100%;
    #{--content-border-radius}: 16px;
    #{--content-border}: unset;
    #{--content-margin-top}: 1rem;
    #{--content-max-width}: unset;
    #{--content-padding}: 8px;

    @include bp(md) {
        #{--change-view-display}: none;
        #{--container-max-width}: 70vw;
        #{--content-border}: 2px solid $light-pink;
        #{--content-margin-top}: 5rem;
    }

    @include bp(lg) {
        #{--container-max-width}: 60vw;
    }

    @include bp(xl) {
        #{--container-max-width}: 50vw;
    }


    &__container {
        background-color: var(--container-background-color);
        height: var(--container-height);
    }

    &__content {
        border-radius: var(--content-border-radius);
        border: var(--content-border);
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: var(--content-margin-top) auto 0;
        max-width: var(--container-max-width);
        padding: var(--content-padding) 0;
    }

    &__change-view {
        display: var(--change-view-display);
        margin: var(--change-view-margin-top) auto 0;
        width: var(--change-view-width);
    }
}