@import '../utils/mixins';

.signUp {
  #{--background-height}: 100vh;
  #{--background-position}: top;
  #{--background-repeat}: no-repeat;
  #{--background-size}: cover;
  #{--background-url}: url('https://ik.imagekit.io/rtlq0pen66/WheelsApp/sign-in/backgroundDesktop_TwVqAFC8R.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665955266109');
  #{--background-width}: 100vw;
  #{--container-border-radius}: unset;
  #{--container-border}: unset;
  #{--container-height}: 100%;
  #{--container-max-height}: 100vh;
  #{--container-max-width}: 100vw;
  #{--container-min-height}: fit-content;
  #{--container-width}: 100%;
  #{--content-gap}: 25px;
  #{--content-height}: 80%;
  #{--content-width}: 80%;
  #{--cta-list-gap}: 20px;
  #{--footer-font-size}: 12px;
  #{--form-background-url}: url('https://ik.imagekit.io/rtlq0pen66/WheelsApp/sign-in/signInBg_sppsLmsID.png?ik-sdk-version=javascript-1.4.3&updatedAt=1665955203183');
  #{--form-gap}: 20px;
  #{--logo-margin-top}: 14rem;
  #{--page-title-margin-bottom}: 5px;
  #{--section-divider-width}: 100%;

  @include bp(md) {
    #{--container-border-radius}: 16px;
    #{--container-border}: 3px solid $light-pink;
    #{--container-max-height}: 100vh;
    #{--container-max-height}: 90vh;
    #{--container-max-width}: 100vw;
    #{--container-max-width}: 60vw;
    #{--footer-font-size}: 15px;
  }

  @include bp(lg) {
    #{--container-max-width}: 40vw;
    #{--content-gap}: 35px;
  }

  @include bp(xl) {
    #{--container-max-width}: 40vw;
    #{--content-width}: 60%;
  }

  &__background {
    background-image: var(--background-url);
    background-position: var(--background-position);
    background-repeat: var(--background-repeat);
    background-size: var(--background-size);
    display: grid;
    height: var(--background-height);
    place-items: center;
    width: var(--background-width);
  }

  &__container {
    background-image: var(--form-background-url);
    background-position: var(--background-position);
    background-repeat: var(--background-size);
    border-radius: var(--container-border-radius);
    border: var(--container-border);
    display: grid;
    height: var(--container-height);
    max-height: var(--container-max-height);
    max-width: var(--container-max-width);
    min-height: var(--container-min-height);
    place-items: center;
    width: var(--container-width);

    // overflow: scroll;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
    height: var(--content-height);
    width: var(--content-width);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--form-gap);
  }

  &__section-divider {
    align-self: center;
    width: var(--section-divider-width);
  }

  &__cta-list {
    display: flex;
    flex-direction: column;
    gap: var(--cta-list-gap);
  }

  &__footer {
    font-size: var(--footer-font-size);

    &--text {
      color: #dfdfdf;
    }

    &--link {
      color: $light-pink;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.pageTitle__title {
  margin-bottom: var(--page-title-margin-bottom);
}

.signUp__content--modal {
  #{--content-gap}: 15px;
  #{--content-height}: 80%;
  #{--content-width}: 80%;
  #{--form-gap}: 15px;
  #{--form-height}: 100%;
  #{--modal-close-font-size}: 1.6rem;
  #{--modal-font-color}: #000;
  #{--section-divider-with}: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--content-gap);

  .signUp__section-divider {
    align-self: center;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    width: var(--section-divider-with);
  }

  .signUp__form--modal {
    color: var(--modal-font-color);
    display: grid;
    gap: var(--form-gap);
    height: var(--form-height);

    &__close {
      align-self: flex-end;
      font-size: var(--modal-close-font-size);
      justify-self: flex-end;

      &:hover {
        cursor: pointer;
        fill: $light-pink;
      }
    }

    .formField__label {
      color: var(--modal-font-color);
    }

    .formField__helper {
      color: rgba($color: #000, $alpha: 0.7);
    }

    .formField__input {
      color: var(--modal-font-color);
    }
  }
}