@import '../../utils/mixins';

.passedTripCard {    
    #{--car-model-font-size}: 12px;
    #{--container-background-color}: #fff;
    #{--container-border-radius}: 8px;
    #{--container-max-width}: unset;
    #{--container-padding}: 5px;
    #{--date-font-size}: 15px;
    #{--date-font-weight}: lighter;
    #{--date-margin}: 5px 0;
    #{--driver-name-font-size}: 14px;
    #{--driver-name-font-weight}: 600;
    #{--footer-gap}: 5px;
    #{--footer-padding}: 5px;
    #{--header-border-color}: #545454;
    #{--main-border-color}: #545454;
    #{--main-padding}: 5px;
    #{--pill-available-color}: #b2b1b1;
    #{--pill-border-radius-item-font-size}: 4px;
    #{--pill-font-size}: 11px;
    #{--pill-font-weight}: lighter;
    #{--pill-padding}: 3px;
    #{--stops-list-item-font-size}: 12px;
    #{--stops-title-font-size}: 14px;
    #{--stops-title-font-weight}: 600;
    #{--title-font-size}: 20px;
    #{--title-font-weight}: 600;

    @include bp(md) {
        #{--car-model-font-size}: 12px;
        #{--container-max-width}: 95%;
        #{--date-font-size}: 17px;
        #{--driver-name-font-size}: 16px;
        #{--stops-list-item-font-size}: 14px;
        #{--pill-font-size}: 13px;
        #{--stops-title-font-size}: 16px;
        #{--title-font-size}: 22px;
    }

    @include bp(lg) {
        #{--car-model-font-size}: 14px;
        #{--container-max-width}: 75%;
        #{--date-font-size}: 19px;
        #{--driver-name-font-size}: 18px;
        #{--stops-list-item-font-size}: 16px;
        #{--pill-font-size}: 15px;
        #{--stops-title-font-size}: 18px;
        #{--title-font-size}: 24px;

    }

    @include bp(xl) {
        #{--container-max-width}: 70%;
    }

    &__container {
        background-color: var(--container-background-color);
        border-radius: var(--container-border-radius);
        max-width: var(--container-max-width);
        padding: var(--container-padding);
    }

    &__header {
        border-bottom: 1px solid var(--header-border-color);
    }

    &__title {
        font-size: var(--title-font-size);
        font-weight: var(--title-font-weight);
        text-align: start;
    }

    &__date {
        font-size: var(--date-font-size);
        font-weight: var(--date-font-weight);
        margin: var(--date-margin);
        text-align: start;
    }

    &__main {
        align-items: center;
        border-bottom: 1px solid var(--main-border-color);
        border-top: 1px solid var(--main-border-color);
        display: flex;
        gap: var(--footer-gap);
        justify-content: space-evenly;
        padding: var(--footer-padding);
    }

    &__driver--info-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__driver--info {
        display: flex;
        gap: 2px;

        &__name {
            font-size: var(--driver-name-font-size);
            font-weight: var(--driver-name-font-weight);
        }
        
        &__stars {
            font-size: var(--driver-name-font-size);
            font-weight: var(--driver-name-font-weight);
        }

        &__model {
            font-size: var(--car-model-font-size);
        }

        &__plate {
            font-size: var(--car-model-font-size);
        }
    }

    &__pill {
        border-radius: var(--pill-border-radius-item-font-size);
        border: 1px solid var(--pill-available-color);
        color: var(--pill-available-color);
        font-size: var(--pill-font-size);
        font-weight: var(--pill-font-weight);
        max-width: fit-content;
        padding: var(--pill-padding);
    }

    &__footer {
        display: flex;
        gap: var(--footer-gap);
        padding: var(--footer-padding);
    }
}