@import '../../utils/mixins';

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: transparent;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: #D9D9D9;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #000;
  // padding: 0.8em;
  font-size: 30px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  border-bottom: 2px solid $dark-blue;
  margin-bottom: 4rem;
  text-align: start;

  a {

  }
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  background: rgba(0, 0, 0, 0.9);

}

