@import '../../utils/mixins';

.navigation {
  #{--burger-menu-display}: none;
  #{--mobile-menu-display}: block;

  @include bp(md) {
    #{--burger-menu-display}: block;
    #{--mobile-menu-display}: none;
  }

  .bm-burger-button {
    display: var(--burger-menu-display);
  }

  .mobileMenu {
    display: var(--mobile-menu-display);
  }

  &__container {
    bottom: 0;
    height: fit-content;
    left: 0;
    position: fixed;
    right: 100;
    width: 100%;
  }
}