.outlinedButton {
  #{--button-background-color}: transparent;
  #{--button-border-radius}: 4px;
  #{--button-font-size}: 17px;
  #{--button-height}: inherit;
  #{--color}: unset;
  #{--container-height}: 45px;
  #{--container-width}: 100%;

  &__container {
    height: var(--container-height);
    width: var(--container-width);
  }

  button {
    background-color: var(--button-background-color);
    border-radius: var(--button-border-radius);
    border: 2px solid var(--color);
    color: var(--color);
    font-size: var(--button-font-size);
    height: inherit;
    width: inherit;
  }
}
